"""The version of rules_rust.
          
Note: Any change to this file will trigger a new release. To make changes here,
edit `./.github/version.bzl.template` instead and run the `Release` action to
create a new release with an updated `./version.bzl` file.
"""

VERSION = "{VERSION}"
