---
BasedOnStyle:  Google
---
Language:        Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Right
Standard: Cpp11
IncludeCategories:
    # Force node headers to be considered third-party headers.
    - Regex:     '^<(node|v8).h>$'
      Priority:  3

---
Language:        JavaScript
BasedOnStyle:    Google
ColumnLimit:     80
