*.pyc
/bazel-*
/compile_commands.json

# The `tools/build_rules/apache_runner.py` helper looks for this file by
# default. We don't want folks to check it in.
/ldap.json

# The scraping library uses looks for this config file by default,
# you don't want to get that checked in
/scouting_config.json
/scouting.db

# Hide vagrant's files that unfortunately make it into the source tree when you
# run "vagrant up".
/vm/.vagrant/
/vm/workspace.vdi

# Ignore temporary files for building Python wheels.
/tools/python/venv/
/tools/python/wheelhouse/
/tools/python/wheelhouse_tmp/

node_modules
/.aspect
