/prime/
/crio/
/flasher/
/compiled-*/
/ip_address.txt
/ccache_dir/

/crio/
/crio-debug/

/arm-[^-]*-[^-]*/
/arm-[^-]*-debug-[^-]*/
/amd64-[^-]*-[^-]*/
/amd64-[^-]*-debug-[^-]*/
/bot3-[^-]*-[^-]*-[^-]*/
/bot3-[^-]*-[^-]*-debug-[^-]*/
