Package: libgstreamer1.0-0
Version: 1.20.7-r0
Architecture: arm64
Depends: gstreamer1.0
Maintainer: Austin Schuh <austin.linux@gmail.com>
Provides: libgstreamer1.0-0
Description: Adapter for libgstreamer1.0-0
