.channel {
  display: flex;
  border-bottom: 1px solid;
  font-size: 24px;
}
#field {
  display: inline-block
}

#readouts,
#middle_readouts
{
  display: inline-block;
  vertical-align: top;
  float: right;
}

#legend {
  display: inline-block;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  margin: 10px;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
}

th, td {
  text-align: left;
  width: 70px;
}

table:first-child {
  text-align: center;
}

td:first-child {
  width: 150px;
}

.connected, .near {
  background-color: LightGreen;
  border-radius: 10px;
}

.zeroing {
  background-color: yellow;
  border-radius: 10px;
}

.faulted {
  background-color: red;
  border-radius: 10px;
}

#vision_readouts > div {
  display: table-row;
  padding: 5px;
}

#vision_readouts > div > div {
  display: table-cell;
  padding: 5px;
  text-align: left;
  font: small;
}

#message_bridge_status > div {
  display: table-row;
  padding: 5px;
}

#message_bridge_status > div > div {
  display: table-cell;
  padding: 5px;
  text-align: right;
}

.channel {
  display: flex;
  border-bottom: 1px solid;
  font-size: 24px;
}

.aos_plot {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.aos_plot_text {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.aos_legend {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.aos_legend_line {
  background: white;
  padding: 2px;
  border-radius: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 12;
}

.aos_legend_line>div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.aos_legend_line>canvas {
  vertical-align: middle;
  pointer-events: all;
}

.aos_legend_line_hidden {
  filter: contrast(0.75);
}

.aos_cpp_plot {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.aos_cpp_plot>div {
  flex: 1;
  width: 100%;
}

#status_list > div {
  display: table-row;
  padding: 3px;
}

#status_list > div > div {
  display: table-cell;
  padding: 10px;
  text-align: left;
}


.yellow {
  background-color: yellow;
}

.yellowgreen {
  background-color: yellowgreen;
}

.lightgreen {
  background-color: LightGreen;
}

.lightcoral {
  background-color: lightcoral;
}

.red {
  background-color: red;
}
