{% set pi = 3.14159265358979323846 %}
{%set zeroing_sample_size = 200 %}
{# Pivot #}
{% set pivot_encoder_ratio = (26.0 / 60.0) %}
{%
set pivot_zero = {
    "average_filter_size": zeroing_sample_size,
    "one_revolution_distance": pi * 2.0 * pivot_encoder_ratio,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error":0.9
}
%}

{# Elevator #}
{% set elevator_encoder_ratio = (1.0 / 1.0) %}
{% set elevator_radius = (1.751 / 2.0) * 0.0254 %}

{%
set elevator_zero = {
    "average_filter_size": zeroing_sample_size,
    "one_revolution_distance": pi * 2.0 * elevator_encoder_ratio * elevator_radius,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9
}
%}

{# Wrist #}

{% set wrist_encoder_ratio = (1.0 / 1.0) %}
{%
set wrist_zero = {
    "average_filter_size": zeroing_sample_size,
    "one_revolution_distance": pi * 2.0 * wrist_encoder_ratio,
    "measured_absolute_position": 0.0,
    "middle_position": 0.0,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9
}
%}

{%
set front_left_zero = {
    "average_filter_size": 200,
    "one_revolution_distance": 2 * pi,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9,
}
%}

{%
set front_right_zero = {
    "average_filter_size": 200,
    "one_revolution_distance": 2 * pi,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9,
}
%}

{%
set back_left_zero = {
    "average_filter_size": 200,
    "one_revolution_distance": 2 * pi,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9,
}
%}

{%
set back_right_zero = {
    "average_filter_size": 200,
    "one_revolution_distance": 2 * pi,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9,
}
%}

{% set reef_apriltags = [6, 7, 8, 9, 10, 11, 17, 18, 19, 20, 21, 22] %}
{% set hp_apriltags = [2, 1, 12, 13] %}
{% set barge_apriltags = [4, 5, 14, 15] %}
{% set processor_apriltags = [16, 3] %}
