<div class="header">
  <h2>Matches</h2>
</div>

<label>
  <input type="checkbox" [(ngModel)]="hideCompletedMatches" />
  Hide completed matches
</label>

<div class="container-fluid">
  <div
    *ngFor="let match of matchList; index as i"
    [ngClass]="'row ' + getRowClass(match)"
  >
    <span class="badge bg-secondary rounded-left">
      {{ displayMatchNumber(match) }}
    </span>
    <div class="match-row">
      <button
        *ngFor="let team of teamsInMatch(match);"
        (click)="setTeamInMatch({
            teamNumber: team.teamNumber,
            matchNumber: match.matchNumber(),
            setNumber: match.setNumber(),
            compLevel: match.compLevel()
            })"
        class="match-item"
        [ngClass]="team.color"
        [disabled]="team.disabled"
      >
        {{ team.teamNumber }}
      </button>
    </div>
  </div>

  <span class="progress_message" role="alert">{{ progressMessage }}</span>
  <span class="error_message" role="alert">{{ errorMessage }}</span>
</div>
