<div class="header">
    <h2>Matches</h2>
</div>

<div class="container-fluid">

  <div class="row">

    <div *ngFor="let match of matchList; index as i">
      <span class="badge bg-secondary rounded-left">{{ displayMatchNumber(match) }}</span>
      <div class="list-group list-group-horizontal-sm">
        <button
          *ngFor="let team of teamsInMatch(match);"
          (click)="setTeamInMatch({
            teamNumber: team.number,
            matchNumber: match.matchNumber(),
            compLevel: match.compLevel()
          })"
          class="text-center text-white fw-bold
            list-group-item list-group-item-action"
          [ngClass]="team.color">
          {{ team.number }}
        </button>
      </div>
    </div>
  </div>

  <span class="progress_message" role="alert">{{ progressMessage }}</span>
  <span class="error_message" role="alert">{{ errorMessage }}</span>
</div>
