/* This CSS is shared between all spline UI pages. */

.nicebutton {
    border-radius: 4px;
    border: #9D9D9D solid 2px;
    background-color: white;
    margin: 4px;
    flex-grow: 1;
    width: 100%;
}
.nicebutton[disabled] {
    color: gray;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

textarea {
    resize: none;
}