{% set pi = 3.14159265 %}

{# we do this here so we keep the encoder ratio in plaintext and also keep the math we're using. #}
{% set intake_pivot_encoder_ratio = (16.0 / 64.0) * (18.0 / 62.0) %}

{%set zeroing_sample_size = 200 %}

{%
set intake_pivot_zero = {
    "average_filter_size": zeroing_sample_size,
    "one_revolution_distance": pi * 2.0 * intake_pivot_encoder_ratio,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9
}
%}

{# TODO(Filip): Update climber values #}
{% set climber_encoder_ratio = (1.0 / 1.0) %}
{% set climber_radius = 0.436496 %}
{%
set climber_zero = {
    "average_filter_size": zeroing_sample_size,
    "one_revolution_distance": pi * 2.0 * climber_encoder_ratio * climber_radius,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9
}
%}
