[Unit]
Description=Start up 971 robot code

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/home/pi/robot_code
ExecStart=/home/pi/robot_code/starter.sh
KillMode=mixed
TimeoutStopSec=10
LimitRTPRIO=60
LimitNICE=-20
LimitMEMLOCK=infinity

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
