select_with_or({
    {%- set selectable = deps | default(value=default_select_list) %}
    {%- for cfg, values in selectable.selects %}
        # {{ cfg }}
    {%- if cfg in context.conditions and context.conditions[cfg] | length %}
        (
            {%- for triple in context.conditions[cfg] %}
            "{{ platform_label(triple = triple) }}",
            {%- endfor %}
        ): [
            # Target Deps
            {%- for dep in values %}
            {%- set dep_crate = context.crates | get(key=dep.id) %}
            "{{ crate_label(name = dep_crate.name, version = dep_crate.version, target = dep.target) }}",
            {%- endfor %}

            # Common Deps
            {%- for common_dep in selectable.common %}
            {%- set common_dep_crate = context.crates | get(key=common_dep.id) %}
            "{{ crate_label(name = common_dep_crate.name, version = common_dep_crate.version, target = common_dep.target) }}",
            {%- endfor %}
        ],
    {%- else %}
            #
            # No supported platform triples for cfg: '{{ cfg }}'
            # Skipped dependencies: {{ values | json_encode | safe }}
            #
    {%- endif %}
    {%- endfor %}
        "//conditions:default": [
            {%- for common_dep in selectable.common %}
            {%- set common_dep_crate = context.crates | get(key=common_dep.id) %}
            "{{ crate_label(name = common_dep_crate.name, version = common_dep_crate.version, target = common_dep.target) }}",
            {%- endfor %}
        ],
    })