<div class="header" #header>
  <h2>
    <span *ngIf="section != 'Team Selection'">{{teamNumber}}</span>
    {{section}}
  </h2>
</div>
<ng-container [ngSwitch]="section">
  <div
    *ngSwitchCase="'Team Selection'"
    id="team_selection"
    class="container-fluid"
  >
    <div class="row">
      <label for="comp_code_collection">Comp Code</label>
      <select
        name="comp_code_selection"
        id="comp_code_selection"
        [(ngModel)]="compCode"
      >
        <option value="2016nytr">N/A</option>
        <option value="2025camb">Pinnacles</option>
        <option value="2025cave">Ventura</option>
        <option value="2025cafr">Central Valley</option>
      </select>
    </div>
    <div class="row">
      <label for="match_number">Match Number</label>
      <input
        [(ngModel)]="matchNumber"
        (ngModelChange)="updateTeamSelectionValidity()"
        type="number"
        id="match_number"
        min="1"
        max="999"
      />
    </div>
    <div class="row">
      <label for="team_number">Team Number</label>
      <input
        [(ngModel)]="teamNumber"
        (ngModelChange)="updateTeamSelectionValidity()"
        type="text"
        id="team_number"
      />
    </div>
    <div class="row">
      <label for="set_number">Set Number</label>
      <input
        [(ngModel)]="setNumber"
        (ngModelChange)="updateTeamSelectionValidity()"
        type="number"
        id="set_number"
        min="1"
        max="10"
      />
    </div>
    <div class="row">
      <label for="comp_level">Comp Level</label>
      <select
        [(ngModel)]="compLevel"
        (ngModelChange)="updateTeamSelectionValidity()"
        type="number"
        id="comp_level"
      >
        <option *ngFor="let level of COMP_LEVELS" [ngValue]="level">
          {{COMP_LEVEL_LABELS[level]}}
        </option>
      </select>
    </div>
    <div class="row">
      <label>
        <input
          id="pre_scouting"
          name="comp_type"
          type="radio"
          [(ngModel)]="compType"
          value="Prescouting"
          (ngModelChange)="updateTeamSelectionValidity()"
        />
        Pre-scouting
      </label>
    </div>
    <div class="row">
      <label>
        <input
          id="practice_match"
          name="comp_type"
          type="radio"
          [(ngModel)]="compType"
          value="Practice"
          (ngModelChange)="updateTeamSelectionValidity()"
        />
        Practice Match
      </label>
    </div>
    <div class="buttons">
      <!-- hack to right align the next button -->
      <div></div>
      <button
        class="btn btn-primary"
        (click)="changeSectionTo('Init');"
        [disabled]="!teamSelectionIsValid"
      >
        Next
      </button>
    </div>
  </div>
  <div *ngSwitchCase="'Init'" id="init" class="container-fluid">
    <h2>Select Starting Position</h2>
    <img
      id="field_starting_positions_image"
      src="/sha256/b3ad87fed6cf55b1569b041ebb415959b2cf3c5942af1f931c8ece876f545c20/pictures/field/2025_field.png"
      alt="Starting Positions Image"
      class="img-fluid"
    />
    <div *ngFor="let i of [1, 2, 3]">
      <label>
        <input
          type="radio"
          name="radio-group"
          [value]="i"
          [(ngModel)]="selectedValue"
        />
        {{ i }}
      </label>
    </div>
    <div class="buttons">
      <!-- Creates a responsive stack of full-width, "block buttons". -->
      <div class="d-grid gap-5">
        <button
          class="btn btn-warning"
          (click)="changeSectionTo('Review and Submit'); actionHelper.addNoShowAction({});"
        >
          No Show
        </button>
        <button
          class="btn btn-primary"
          [disabled]="!selectedValue"
          (click)="changeSectionTo('Pickup'); actionHelper.addStartMatchAction({position: selectedValue});"
        >
          Start Match
        </button>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'Pickup'" id="PickUp" class="container-fluid">
    <h6 class="text-muted">
      Last Action: {{ActionType[actionList[actionList.length -
      1].actionTakenType]}}
    </h6>
    <!--
      Decrease distance between buttons during auto to make space for auto balancing
      selection and keep all buttons visible without scrolling on most devices.
    -->
    <div
      [ngClass]="{'d-grid': true, 'gap-3': autoPhase === true, 'gap-5': autoPhase === false}"
    >
      <button class="btn btn-secondary" (click)="undoLastAction()">UNDO</button>
      <button
        class="btn btn-danger"
        (click)="changeSectionTo('Dead'); actionHelper.addRobotDeathAction({robotDead: true});"
      >
        DEAD
      </button>
      <button
        *ngIf="!hasPickedUpCoral"
        class="btn btn-warning"
        (click)="actionHelper.addPickupCoralAction({auto: autoPhase}); hasPickedUpCoral = true;"
      >
        PICKUP CORAL
      </button>
      <button
        *ngIf="hasPickedUpCoral"
        class="btn btn-warning"
        (click)="changeSectionTo('Place Coral');"
      >
        SCORE CORAL
      </button>
      <button
        *ngIf="hasPickedUpCoral"
        class="btn btn-info"
        (click)=" actionHelper.addPlaceCoralAction({auto: autoPhase, scoreType: ScoreType.kDROPPED}); hasPickedUpCoral = false;"
      >
        Dropped Coral
      </button>
      <button
        *ngIf="!hasPickedUpAlgae"
        class="btn btn-success"
        (click)="actionHelper.addPickupAlgaeAction({auto: autoPhase}); hasPickedUpAlgae = true;"
      >
        PICKUP ALGAE
      </button>
      <button
        *ngIf="hasPickedUpAlgae"
        class="btn btn-success"
        (click)="changeSectionTo('Place Algae');"
      >
        SCORE ALGAE
      </button>
      <button
        *ngIf="hasPickedUpAlgae"
        class="btn btn-info"
        (click)="actionHelper.addPlaceAlgaeAction({auto: autoPhase, scoreType: ScoreType.kDROPPED}); hasPickedUpAlgae = false;"
      >
        Dropped Algae
      </button>
      <button
        *ngIf="autoPhase && !mobilityCompleted"
        class="btn btn-light"
        (click)="actionHelper.addMobilityAction({mobility: true});"
      >
        Mobility
      </button>
      <div style="display: flex">
        <h5>Penalties :</h5>
        <button
          class="btn-light"
          style="width: 40px; margin-right: 15px"
          (click)="removePenalty()"
        >
          -
        </button>
        <p>{{this.penalties}}</p>
        <button
          class="btn-light"
          style="width: 40px; margin-left: 15px"
          (click)="addPenalty()"
        >
          +
        </button>
      </div>
      <button
        *ngIf="autoPhase"
        class="btn btn-primary"
        (click)="autoPhase = false; actionHelper.addEndAutoPhaseAction({});"
      >
        Start Teleop
      </button>
      <button
        *ngIf="!autoPhase"
        class="btn btn-primary"
        (click)="changeSectionTo('Endgame'); actionHelper.addEndTeleopPhaseAction({});"
      >
        Endgame
      </button>
    </div>
  </div>
  <div *ngSwitchCase="'Place Coral'" id="PlaceCoral" class="container-fluid">
    <h6 class="text-muted">
      Last Action: {{ActionType[actionList[actionList.length -
      1].actionTakenType]}}
    </h6>
    <!--
      Decrease distance between buttons during auto to make space for auto balancing
      selection and keep all buttons visible without scrolling on most devices.
    -->
    <div
      [ngClass]="{'d-grid': true, 'gap-4': autoPhase === true, 'gap-3': autoPhase === false}"
    >
      <button class="btn btn-secondary" (click)="undoLastAction()">UNDO</button>
      <button
        class="btn btn-danger"
        (click)="changeSectionTo('Dead'); actionHelper.addRobotDeathAction({robotDead: true});"
      >
        DEAD
      </button>
      <div class="d-grid gap-1" style="padding: 0">
        <div class="d-grid gap-1" style="padding: 0; margin: 0">
          <div
            style="
              display: flex-wrap;
              padding: 0;
              justify-content: center;
              text-align: center;
              align-content: center;
              margin: 0;
            "
          >
            <button
              class="btn btn-warning"
              (click)="changeSectionTo('Pickup'); actionHelper.addPlaceCoralAction({auto: autoPhase, scoreType: ScoreType.kL1}); hasPickedUpCoral = false;"
              style="width: 48%; height: 12vh; margin: 20px 10px 10px 0px"
            >
              L1
            </button>
            <button
              class="btn btn-warning"
              (click)="changeSectionTo('Pickup'); actionHelper.addPlaceCoralAction({auto: autoPhase, scoreType: ScoreType.kL2}); hasPickedUpCoral = false;"
              style="width: 48%; height: 12vh; margin: 20px 10px 10px 0px"
            >
              L2
            </button>
            <button
              class="btn btn-warning"
              (click)="changeSectionTo('Pickup'); actionHelper.addPlaceCoralAction({auto: autoPhase, scoreType: ScoreType.kL3}); hasPickedUpCoral = false;"
              style="width: 48%; height: 12vh; margin: 20px 10px 10px 0px"
            >
              L3
            </button>
            <button
              class="btn btn-warning"
              (click)="changeSectionTo('Pickup'); actionHelper.addPlaceCoralAction({auto: autoPhase, scoreType: ScoreType.kL4}); hasPickedUpCoral = false;"
              style="width: 48%; height: 12vh; margin: 20px 10px 10px 0px"
            >
              L4
            </button>
          </div>
        </div>
        <button
          class="btn btn-danger"
          (click)="changeSectionTo('Pickup'); actionHelper.addPlaceCoralAction({auto: autoPhase, scoreType: ScoreType.kMISSED}); hasPickedUpCoral = false;"
        >
          Missed
        </button>
        <button
          *ngIf="autoPhase && !mobilityCompleted"
          class="btn btn-light"
          (click)="actionHelper.addMobilityAction({mobility: true});"
        >
          Mobility
        </button>
      </div>
      <div style="display: flex">
        <h5>Penalties :</h5>
        <button
          class="btn-light"
          style="width: 40px; margin-right: 15px"
          (click)="removePenalty()"
        >
          -
        </button>
        <p>{{this.penalties}}</p>
        <button
          class="btn-light"
          style="width: 40px; margin-left: 15px"
          (click)="addPenalty()"
        >
          +
        </button>
      </div>
      <button
        class="btn btn-primary"
        *ngIf="autoPhase"
        (click)="autoPhase = false; actionHelper.addEndAutoPhaseAction({});"
      >
        Start Teleop
      </button>
      <button
        *ngIf="!autoPhase"
        class="btn btn-primary"
        (click)="changeSectionTo('Endgame'); actionHelper.addEndTeleopPhaseAction({});"
      >
        Endgame
      </button>
    </div>
  </div>
  <div *ngSwitchCase="'Place Algae'" id="PlaceAlgae" class="container-fluid">
    <h6 class="text-muted">
      Last Action: {{ActionType[actionList[actionList.length -
      1].actionTakenType]}}
    </h6>
    <!--
      Decrease distance between buttons during auto to make space for auto balancing
      selection and keep all buttons visible without scrolling on most devices.
    -->
    <div
      [ngClass]="{'d-grid': true, 'gap-4': autoPhase === true, 'gap-3': autoPhase === false}"
    >
      <button class="btn btn-secondary" (click)="undoLastAction()">UNDO</button>
      <button
        class="btn btn-danger"
        (click)="changeSectionTo('Dead'); actionHelper.addRobotDeathAction({robotDead: true});"
      >
        DEAD
      </button>

      <div class="half-button-container">
        <button
          class="btn btn-success half-button"
          (click)="changeSectionTo('Pickup'); actionHelper.addPlaceAlgaeAction({auto: autoPhase, scoreType: ScoreType.kPROCESSOR}); hasPickedUpAlgae = false;"
        >
          Processor
        </button>
        <button
          class="btn btn-warning half-button"
          (click)="changeSectionTo('Pickup'); actionHelper.addPlaceAlgaeAction({auto: autoPhase, scoreType: ScoreType.kNET}); hasPickedUpAlgae = false;"
        >
          Net
        </button>
      </div>
      <button
        class="btn btn-danger"
        (click)="changeSectionTo('Pickup'); actionHelper.addPlaceAlgaeAction({auto: autoPhase, scoreType: ScoreType.kMISSED}); hasPickedUpAlgae = false;"
      >
        Missed
      </button>
      <button
        *ngIf="autoPhase && !mobilityCompleted"
        class="btn btn-light"
        (click)="actionHelper.addMobilityAction({mobility: true});"
      >
        Mobility
      </button>
      <div style="display: flex">
        <h5>Penalties :</h5>
        <button
          class="btn-light"
          style="width: 40px; margin-right: 15px"
          (click)="removePenalty()"
        >
          -
        </button>
        <p>{{this.penalties}}</p>
        <button
          class="btn-light"
          style="width: 40px; margin-left: 15px"
          (click)="addPenalty()"
        >
          +
        </button>
      </div>
      <button
        class="btn btn-primary"
        *ngIf="autoPhase"
        (click)="autoPhase = false; actionHelper.addEndAutoPhaseAction({});"
      >
        Start Teleop
      </button>
      <button
        *ngIf="!autoPhase"
        class="btn btn-primary"
        (click)="changeSectionTo('Endgame'); actionHelper.addEndTeleopPhaseAction({});"
      >
        Endgame
      </button>
    </div>
  </div>
  <div *ngSwitchCase="'Endgame'" id="Endgame" class="container-fluid">
    <h6 class="text-muted">
      Last Action: {{ActionType[actionList[actionList.length -
      1].actionTakenType]}}
    </h6>
    <div class="d-grid gap-2">
      <button class="btn btn-secondary" (click)="undoLastAction()">UNDO</button>
      <button
        class="btn btn-danger"
        (click)="changeSectionTo('Dead'); actionHelper.addRobotDeathAction({robotDead: true});"
      >
        DEAD
      </button>
      <div class="button_row">
        <label>
          <input
            type="radio"
            name="endgameaction"
            [value]="CageType.kSHALLOW_CAGE"
            [(ngModel)]="endGameAction"
          />
          Shallow Cage
        </label>
        <label>
          <input
            type="radio"
            name="endgameaction"
            [value]="CageType.kDEEP_CAGE"
            [(ngModel)]="endGameAction"
          />
          Deep Cage
        </label>
      </div>
      <div class="button_row">
        <label>
          <input
            type="radio"
            name="endgameaction"
            [value]="CageType.kBUDDIE"
            [(ngModel)]="endGameAction"
          />
          Buddy Climb
        </label>
        <label>
          <input
            type="radio"
            name="endgameaction"
            [value]="CageType.kPARK"
            [(ngModel)]="endGameAction"
          />
          Parked
        </label>
        <label>
          <input
            type="radio"
            name="endgameaction"
            [value]="CageType.kMISSING"
            [(ngModel)]="endGameAction"
          />
          N/A
        </label>
      </div>
      <div style="display: flex">
        <h5>Penalties :</h5>
        <button
          class="btn-light"
          style="width: 40px; margin-right: 15px"
          (click)="removePenalty()"
        >
          -
        </button>
        <p>{{this.penalties}}</p>
        <button
          class="btn-light"
          style="width: 40px; margin-left: 15px"
          (click)="addPenalty()"
        >
          +
        </button>
      </div>
      <button
        *ngIf="!autoPhase"
        class="btn btn-primary"
        (click)="changeSectionTo('Review and Submit');  addPenalties(); actionHelper.addEndMatchAction({cageType: endGameAction});"
      >
        End Match
      </button>
    </div>
  </div>
  <div *ngSwitchCase="'Dead'" id="Dead" class="container-fluid">
    <h2>Robot is dead</h2>
    <div class="d-grid gap-3">
      <button class="btn btn-secondary" (click)="undoLastAction()">UNDO</button>
      <div style="display: flex">
        <h5>Penalties :</h5>
        <button
          class="btn-light"
          style="width: 40px; margin-right: 15px"
          (click)="removePenalty()"
        >
          -
        </button>
        <p>{{this.penalties}}</p>
        <button
          class="btn-light"
          style="width: 40px; margin-left: 15px"
          (click)="addPenalty()"
        >
          +
        </button>
      </div>
      <button
        class="btn btn-success"
        (click)="changeSectionTo('Pickup'); actionHelper.addRobotDeathAction({robotDead: false}); "
      >
        Revive
      </button>
      <button
        class="btn btn-primary"
        (click)="changeSectionTo('Review and Submit');  addPenalties(); actionHelper.addEndMatchAction({cageType: endGameAction});"
      >
        End Match
      </button>
    </div>
  </div>
  <div *ngSwitchCase="'Review and Submit'" id="Review" class="container-fluid">
    <div class="row">
      <ul id="review_data">
        <div *ngIf="compType!='Regular'">This is a {{this.compType}} match</div>
        <li *ngFor="let action of actionList" style="display: flex">
          <div [ngSwitch]="action.actionTakenType" style="padding: 0px">
            <span *ngSwitchCase="ActionType.StartMatchAction">
              Started match at position {{(action.actionTaken | cast:
              StartMatchActionT).position}}
            </span>
            <span *ngSwitchCase="ActionType.PickupCoralAction">
              Picked up Coral
            </span>
            <span *ngSwitchCase="ActionType.PickupAlgaeAction">
              Picked up Algae
            </span>
            <span *ngSwitchCase="ActionType.PlaceCoralAction">
              Placed at {{stringifyScoreType((action.actionTaken | cast:
              PlaceCoralActionT).scoreType)}}
            </span>
            <span *ngSwitchCase="ActionType.PlaceAlgaeAction">
              Placed at {{stringifyScoreType((action.actionTaken | cast:
              PlaceAlgaeActionT).scoreType)}}
            </span>
            <span *ngSwitchCase="ActionType.EndAutoPhaseAction">
              Ended auto phase
            </span>
            <span *ngSwitchCase="ActionType.EndTeleopPhaseAction">
              Ended teleop phase
            </span>
            <span *ngSwitchCase="ActionType.EndMatchAction">
              Ended Match; cageType: {{stringifyCageType((action.actionTaken |
              cast: EndMatchActionT).cageType)}}
            </span>
            <span *ngSwitchCase="ActionType.RobotDeathAction">
              Robot dead: {{(action.actionTaken | cast:
              RobotDeathActionT).robotDead}}
            </span>
            <span *ngSwitchCase="ActionType.MobilityAction">
              Mobility: {{(action.actionTaken | cast:
              MobilityActionT).mobility}}
            </span>
            <span *ngSwitchCase="ActionType.NoShowAction">NoShow: true</span>
            <span *ngSwitchDefault>{{action.actionTakenType}}</span>
            <span *ngSwitchCase="ActionType.PenaltyAction">
              Penalties: {{(action.actionTaken | cast:
              PenaltyActionT).penalties}}
            </span>
          </div>
        </li>
      </ul>
    </div>
    <div class="d-grid gap-5">
      <button class="btn btn-secondary" (click)="undoLastAction()">UNDO</button>
      <button class="btn btn-info" (click)="changeSectionTo('QR Code');">
        Create QR Code
      </button>
      <button class="btn btn-warning" (click)="submit2025Actions();">
        Submit
      </button>
    </div>
  </div>
  <div *ngSwitchCase="'End'" id="End" class="container-fluid">
    <span class="success_message" role="alert">{{ successMessage }}</span>
    <div class="d-grid gap-5" *ngIf="nextTeamNumber != ''">
      <button class="btn btn-primary" (click)="goToNextTeam();">
        SCOUT NEXT TEAM
      </button>
    </div>
  </div>
  <div *ngSwitchCase="'QR Code'" id="QR Code" class="container-fluid">
    <span>Density:</span>
    <select
      [(ngModel)]="qrCodeValuePieceSize"
      (ngModelChange)="updateQrCodeValuePieceSize()"
      type="number"
      id="qr_code_piece_size"
    >
      <option
        *ngFor="let pieceSize of QR_CODE_PIECE_SIZES"
        [ngValue]="pieceSize"
      >
        {{pieceSize}}
      </option>
    </select>
    <div class="qr-container">
      <qrcode
        [qrdata]="qrCodeValuePieces[qrCodeValueIndex]"
        [width]="1000"
        [errorCorrectionLevel]="'M'"
        [margin]="6"
        class="qrcode"
      ></qrcode>
    </div>
    <nav class="qrcode-nav">
      <ul
        class="qrcode-buttons pagination pagination-lg justify-content-center"
      >
        <li class="page-item">
          <a
            class="page-link"
            href="#"
            aria-label="Previous"
            (click)="setQrCodeValueIndex(qrCodeValueIndex - 1)"
          >
            <span aria-hidden="true">&laquo;</span>
            <span class="visually-hidden">Previous</span>
          </a>
        </li>
        <li *ngFor="let _ of qrCodeValuePieces; index as i" class="page-item">
          <a
            class="page-link"
            href="#"
            (click)="setQrCodeValueIndex(i)"
            [class.active]="qrCodeValueIndex == i"
          >
            {{i + 1}}
          </a>
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="#"
            aria-label="Next"
            (click)="setQrCodeValueIndex(qrCodeValueIndex + 1)"
          >
            <span aria-hidden="true">&raquo;</span>
            <span class="visually-hidden">Next</span>
          </a>
        </li>
      </ul>
    </nav>
    <button
      class="btn btn-secondary"
      (click)="changeSectionTo('Review and Submit')"
    >
      BACK
    </button>
  </div>

  <span class="progress_message" role="alert">{{ progressMessage }}</span>
  <span class="error_message" role="alert">{{ errorMessage }}</span>
</ng-container>
