* {
  padding: 10px;
}

textarea {
  width: 350px;
  height: 180px;
}

button {
  touch-action: manipulation;
}

.row ul div span {
  padding: 0px;
}

input label {
  padding: 0px;
}

#EndGame > div > label {
  padding: 0;
}
