{%- set selectable = selectable | default(value=default_select_dict) %}
{%- if selectable.selects | length -%}
    selects.with_or({
    {%- for cfg, map in selectable.selects %}
    {%- if cfg in context.conditions and context.conditions[cfg] | length %}
        # {{ cfg }}
        (
            {%- for triple in context.conditions[cfg] %}
            "{{ platform_label(triple = triple) }}",
            {%- endfor %}
        ): {
            {%- if selectable.common | length %}
            {%- for key, val in selectable.common %}
            "{{ key }}": "{{ val }}",
            {%- endfor %}
            {%- endif %}
            {%- for key, val in map %}
            "{{ key }}": "{{ val }}",
            {%- endfor %}
        },
    {%- else %}
        # No supported platform triples for cfg: '{{ cfg }}'
        # Skipped dependencies: {{ map | json_encode| safe }}
    {%- endif %}
    {%- endfor %}
        "//conditions:default": {},
    })
{%- else -%}
    {
        {%- if selectable.common | length %}
        {%- for key, val in selectable.common %}
        "{{ key }}": "{{ val }}",
        {%- endfor %}
        {%- endif %}
    }
{%- endif %}