KERNEL=="fb0", GROUP="video", MODE="0660"
KERNEL=="fb1", GROUP="video", MODE="0660"
KERNEL=="host1x", GROUP="video", MODE="0660"
SUBSYSTEM=="nvidia-gpu-v2", KERNEL=="as", GROUP="video", MODE="0660"
SUBSYSTEM=="nvidia-gpu-v2", KERNEL=="channel", GROUP="video", MODE="0660"
SUBSYSTEM=="nvidia-gpu-v2", KERNEL=="ctrl", GROUP="video", MODE="0660"
SUBSYSTEM=="nvidia-gpu-v2", KERNEL=="ctxsw", GROUP="video", MODE="0660"
SUBSYSTEM=="nvidia-gpu-v2", KERNEL=="dbg", GROUP="video", MODE="0660"
SUBSYSTEM=="nvidia-gpu-v2-power", KERNEL=="power", GROUP="video", MODE="0660"
SUBSYSTEM=="nvidia-gpu-v2", KERNEL=="prof", GROUP="video", MODE="0660"
SUBSYSTEM=="nvidia-gpu-v2", KERNEL=="prof-ctx", GROUP="video", MODE="0660"
SUBSYSTEM=="nvidia-gpu-v2", KERNEL=="prof-dev", GROUP="video", MODE="0660"
SUBSYSTEM=="nvidia-gpu-v2", KERNEL=="tsg", GROUP="video", MODE="0660"
SUBSYSTEM=="nvidia-gpu-v2", KERNEL=="nvsched", GROUP="video", MODE="0660"
SUBSYSTEM=="nvidia-gpu-v2", KERNEL=="sched", GROUP="video", MODE="0660"
KERNEL=="nvhost-as-gpu", GROUP="video", MODE="0660"
KERNEL=="nvhost-ctrl", GROUP="video", MODE="0660"
KERNEL=="nvhost-ctrl-gpu", GROUP="video", MODE="0660"
KERNEL=="nvhost-ctrl-nvdla0", GROUP="video", MODE="0660"
KERNEL=="nvhost-ctrl-nvdla1", GROUP="video", MODE="0660"
KERNEL=="nvhost-ctrl-pva0", GROUP="video", MODE="0660"
KERNEL=="nvhost-ctrl-pva1", GROUP="video", MODE="0660"
KERNEL=="nvhost-dbg-gpu", GROUP="video", MODE="0660"
KERNEL=="nvhost-gpu", GROUP="video", MODE="0660"
KERNEL=="nvhost-msenc", GROUP="video", MODE="0660"
KERNEL=="nvhost-nvdec", GROUP="video", MODE="0660"
KERNEL=="nvhost-nvdec1", GROUP="video", MODE="0660"
KERNEL=="nvhost-nvdla0", GROUP="video", MODE="0660"
KERNEL=="nvhost-nvdla1", GROUP="video", MODE="0660"
KERNEL=="nvhost-nvenc1", GROUP="video", MODE="0660"
KERNEL=="nvhost-nvjpg", GROUP="video", MODE="0660"
KERNEL=="nvhost-nvjpg1", GROUP="video", MODE="0660"
KERNEL=="nvhost-ofa", GROUP="video", MODE="0660"
KERNEL=="nvhost-prof-gpu", GROUP="video", MODE="0660"
KERNEL=="nvhost-pva0", GROUP="video", MODE="0660"
KERNEL=="nvhost-pva1", GROUP="video", MODE="0660"
KERNEL=="nvhost-vic", GROUP="video", MODE="0660"
KERNEL=="nvidiactl", GROUP="video", MODE="0660"
KERNEL=="nvmap", GROUP="video", MODE="0660"
KERNEL=="tegra_dc_0", GROUP="video", MODE="0660"
KERNEL=="tegra_dc_1", GROUP="video", MODE="0660"
KERNEL=="tegra_dc_ctrl", GROUP="video", MODE="0660"
KERNEL=="nvhost-ctrl-isp", GROUP="video", MODE="0660"
KERNEL=="nvhost-ctrl-nvdec", GROUP="video", MODE="0660"
KERNEL=="nvhost-ctxsw-gpu", GROUP="video", MODE="0660"
KERNEL=="nvhost-isp", GROUP="video", MODE="0660"
KERNEL=="nvhost-isp-thi", GROUP="video", MODE="0660"
KERNEL=="nvhost-nvcsi", GROUP="video", MODE="0660"
KERNEL=="nvhost-nvsched-gpu", GROUP="video", MODE="0660"
KERNEL=="nvhost-power-gpu", GROUP="video", MODE="0660"
KERNEL=="nvhost-prof-ctx-gpu", GROUP="video", MODE="0660"
KERNEL=="nvhost-prof-dev-gpu", GROUP="video", MODE="0660"
KERNEL=="nvhost-sched-gpu", GROUP="video", MODE="0660"
KERNEL=="nvhost-tsec", GROUP="video", MODE="0660"
KERNEL=="nvhost-tsg-gpu", GROUP="video", MODE="0660"
KERNEL=="nvhost-vi0", GROUP="video", MODE="0660"
KERNEL=="nvhost-vi0-thi", GROUP="video", MODE="0660"
KERNEL=="nvhost-vi1", GROUP="video", MODE="0660"
KERNEL=="nvhost-vi1-thi", GROUP="video", MODE="0660"
