{% set M_PI = 3.14159265358979323846 %}

{%set zeroing_sample_size = 200 %}

{# Arm #}
{% set arm_encoder_ratio = (12.0 / 48.0) %}

{%
set arm_zero = {
    "average_filter_size": zeroing_sample_size,
    "one_revolution_distance": M_PI * 2.0 * arm_encoder_ratio,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9
}
%}


{%
set front_left_zero = {
    "average_filter_size": 200,
    "one_revolution_distance": 2 * M_PI,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9,
}
%}

{%
set front_right_zero = {
    "average_filter_size": 200,
    "one_revolution_distance": 2 * M_PI,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9,
}
%}

{%
set back_left_zero = {
    "average_filter_size": 200,
    "one_revolution_distance": 2 * M_PI,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9,
}
%}

{%
set back_right_zero = {
    "average_filter_size": 200,
    "one_revolution_distance": 2 * M_PI,
    "zeroing_threshold": 0.0005,
    "moving_buffer_size": 20,
    "allowable_encoder_error": 0.9,
}
%}
