{%- include "partials/header.j2" %}

package(default_visibility = ["//visibility:public"])

exports_files(
    [
        "cargo-bazel.json",
        "defs.bzl",
        {%- set current_vendor_mode = vendor_mode | default(value="") %}{%- if current_vendor_mode == "remote" %}"crates.bzl",{%- endif %}
    ] + glob([
        "*.bazel",
    ]),
)

filegroup(
    name = "srcs",
    srcs = glob([
        "*.bazel",
        "*.bzl",
    ]),
)

# Workspace Member Dependencies
{%- for dep, rename in workspace_member_dependencies %}
{%- set crate = context.crates | get(key=dep) %}
{%- if crate | get(key="library_target_name", default=Null) %}
alias(
    name = "{{ rename | default(value=crate.name) }}",
    actual = "{{ crate_label(name = crate.name, version = crate.version, target = crate.library_target_name) }}",
    tags = ["manual"],
)
{%- endif %}
{%- endfor %}

# Binaries
{%- for id, rename in binary_crates_map %}
{%- set crate = context.crates | get(key=id) %}
{%- for rule in crate.targets %}
{%- for rule_type, target in rule %}
{%- if rule_type in ["Binary"] %}
alias(
    name = "{{ rename | default(value=crate.name) }}__{{ target.crate_name }}",
    actual = "{{ crate_label(name = crate.name, version = crate.version, target = target.crate_name ~ '__bin') }}",
    tags = ["manual"],
)
{%- endif %}
{%- endfor %}
{%- endfor %}
{%- endfor %}
