load("@npm//:defs.bzl", "npm_link_all_packages")
load("//tools/build_rules:foxglove.bzl", "foxglove_extension")

npm_link_all_packages(name = "node_modules")

foxglove_extension(
    name = "extension",
)
