{% set M_PI = 3.14159265358979323846 %}

{%
set front_left_zero = {
    "average_filter_size": 0,
    "one_revolution_distance": 2 * M_PI,
    "measured_absolute_position": 0.76761395509829,
    "zeroing_threshold": 0.0,
    "moving_buffer_size": 0,
    "allowable_encoder_error": 0.0,
}
%}

{%
set front_right_zero = {
    "average_filter_size": 0,
    "one_revolution_distance": 2 * M_PI,
    "measured_absolute_position": 0.779403958443922,
    "zeroing_threshold": 0.0,
    "moving_buffer_size": 0,
    "allowable_encoder_error": 0.0,
}
%}

{%
set back_left_zero = {
    "average_filter_size": 0,
    "one_revolution_distance": 2 * M_PI,
    "measured_absolute_position": 0.053439698061417,
    "zeroing_threshold": 0.0,
    "moving_buffer_size": 0,
    "allowable_encoder_error": 0.0,
}
%}

{%
set back_right_zero = {
    "average_filter_size": 0,
    "one_revolution_distance": 2 * M_PI,
    "measured_absolute_position": 0.719329333121509,
    "zeroing_threshold": 0.0,
    "moving_buffer_size": 0,
    "allowable_encoder_error": 0.0,
}
%}
