[package]
name = "rules_rust_examples_basic_sys"
version = "0.0.1"

[[bin]]
name = "rules_rust_examples_basic_sys"
path = "src/main.rs"

[dependencies]
bzip2 = "=0.3.3"

[package.metadata.raze]
workspace_path = "//sys/basic/raze"
genmode = "Remote"
gen_workspace_prefix = "basic_sys"
rust_rules_workspace_name = "rules_rust"
package_aliases_dir = "raze"
default_gen_buildrs = false

[package.metadata.raze.crates.bzip2-sys.'0.1.9+1.0.8']
gen_buildrs = true
